Calc2_0/.vs/
Calc2_0/Debug/
Calc2_0/Calc2_0/Debug/
Calc2_0/Calc2_0/Calc2_0.vcxproj
Calc2_0/Calc2_0/Calc2_0.vcxproj.filters
Calc2_0/Calc2_0/Calc2_0.vcxproj.user
Calc2_0/Calc2_0/exps.txt

Cos/.vs/
Cos/Debug/
Cos/Cos/Debug/
Cos/Cos/Cos.vcxproj
Cos/Cos/Cos.vcxproj.filters
Cos/Cos/Cos.vcxproj.user

Factorial/.vs/
Factorial/Debug/
Factorial/Factorial/Debug/
Factorial/Factorial/Factorial.vcxproj
Factorial/Factorial/Factorial.vcxproj.filters
Factorial/Factorial/Factorial.vcxproj.user

Parser/.vs/
Parser/Debug/
Parser/Parser/Debug/
Parser/Parser/Parser.vcxproj
Parser/Parser/Parser.vcxproj.filters
Parser/Parser/Parser.vcxproj.user

Pow/.vs/
Pow/Debug/
Pow/Pow/Debug/
Pow/Pow/Pow.vcxproj
Pow/Pow/Pow.vcxproj.filters
Pow/Pow/Pow.vcxproj.user



